body {
  padding: 0;
}


/*======= Customized Bootstrap commom class =============*/
/* for menu-header navbar */
.nav .nav-item a.nav-link {
  line-height: 36px;
  color: #fff;
}

.nav .nav-item a.nav-link.active {
  font-weight: bolder;
}
/* for list group of genre */
.list-group-item.active {
  background-color: #49b877 !important;
  border-color: #49b877 !important;
}
/* for color of pagination */
.page-item.active .page-link {
  background-color: #49b877 !important;
  border-color: #49b877 !important;
}

/*====== Common Css class ======= */
.pointer {
  cursor: pointer;
}
.ml-10 {
  margin-left: 10px;
}
.ml-20 {
  margin-left: 20px;
}
.mb-10 { 
  margin-bottom: 10px;
}
.mb-40 { 
  margin-bottom: 40px;
}
.pt-8 {
  padding-top: 8px;
}
.pt-20 {
  padding-top: 20px;
}
.pt-40 {
  padding-top: 40px;
}
.w-400 {
  width: 40% !important;
  min-width: 300px;
}
.w-800 {
  width: 80% !important;
  min-width: 600px;
}